<aside id="sidebar">
    <div class="sidebar-inner">
        <div class="si-inner">


            <ul class="main-menu">
                <li class="active"><a href="jQuery/index.html"><i class="md md-home"></i> Dashboard</a></li>
                <li class="sub-menu">
                    <a href="javascript:void(0)"><i class="md md-now-widgets"></i> CHPs</a>

                    <ul>
                        <li><a href="jQuery/widget-templates.html">Templates</a></li>
                        <li><a class="active" href="jQuery/widgets.html">Widgets</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0)"><i class="md md-view-list"></i> Reports</a>

                    <ul>
                        <li><a href="jQuery/tables.html">Report Builder</a></li>
                        <li><a href="jQuery/data-tables.html">Custom Reports</a></li>
                        <li><a href="jQuery/data-tables.html">Report Listing</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0)"><i class="md md-my-library-books"></i>Branches</a>

                    <ul>
                        <li><a href="jQuery/form-elements.html">Basic Form Elements</a></li>
                        <li><a href="jQuery/form-components.html">Form Components</a></li>
                        <li><a href="jQuery/form-examples.html">Form Examples</a></li>
                        <li><a href="jQuery/form-validations.html">Form Validation</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0)"><i class="md md-swap-calls"></i>Manage CHPs</a>
                    <ul>
                        <li><a href="jQuery/colors.html">Agreements</a></li>
                        <li><a href="jQuery/animations.html">Bio Data</a></li>
                        <li><a href="jQuery/animations.html">Tests</a></li>
                        <li><a href="jQuery/animations.html">Certifications</a></li>

                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0)"><i class="md md-trending-up"></i>Data Verification</a>
                    <ul>
                        <li><a href="jQuery/flot-charts.html">Treatments</a></li>
                        <li><a href="jQuery/other-charts.html">Pregnancies</a></li>
                        <li><a href="jQuery/other-charts.html">New Born Visits</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0)"><i class="md md-today"></i>Events</a>
                    <ul>
                        <li><a href="jQuery/flot-charts.html">Trainings</a></li
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:void(0)"><i class="md md-content-copy"></i> Sample Pages</a>
                    <ul>
                        <li><a href="jQuery/profile-about.html">Profile</a></li>
                        <li><a href="jQuery/list-view.html">List View</a></li>
                        <li><a href="jQuery/messages.html">Messages</a></li>
                        <li><a href="jQuery/login.html">Login and Sign Up</a></li>
                        <li><a href="jQuery/404.html">Error 404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>