{% load static %}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html class="login-content">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> RTI NTDS  Login</title>

    <!-- Vendor CSS -->
    <link href="{% static 'material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">

    <!-- CSS -->
    <link href="{% static 'css/app.min.1.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.min.2.css' %}" rel="stylesheet">

</head>

<body class="login-content">
<!-- Login -->


{%  block content %}



{% endblock %}




</body>
</html>